
    <div class="max-width-container">
        <header class="max-width">
                <div class="divA">
                    <div class="little-divA">
                        <img src="/images/magnify-talk-no-bg.png" alt="magnifying glass heart icon" class="magnify-talk">
                        <h2>friendlytherapy.info</h2>
                    </div>    
                    <a href="javascript:void(0);" id="hamburger">
                        <i class="fas fa-bars fa-2x" id=show-me-hamburger></i> 
                    </a>

                </div>    
        
                <nav class="link-menu">
                    <a class="headlink" href="/">Home</a>
                    <a class="headlink" href="/search-add/find-a-therapist-search">Find a Therapist</a>
                    <a class="headlink" href="/search-add/add-a-provider">Add a Provider</a>
                    <a class="headlink" href="/resources">Resources</a>
                    <a class="headlink" href="/about">About</a> 
                </nav>  
        </header>
    </div>