<div class="resource-square sw-resource">
    <a href="https://www.mnsexualhealth.org/post/choosing-a-sex-worker-affirmative-therapist">
        Choosing​ ​a​ ​Sex​ ​Worker-Affirmative​ ​Therapist
    </a>        
    <p>A guide by Katie Bloomquist, MS, MA, LAMFT</p>
    <img src="">
    <!-- red umbrella icon -->
</div>