
<div class="results-box">
    <div class="name-div ">
        <p class="text1">Therapist Name, LICSW</p>
    </div>

    <p>Type of Provider:</p>

    <p>Community-Friendliness Rating:</p>

    <ul>
        <li>Queer:</li>
        <li>Trans:</li>
        <li>Non-Monogamy:</li>
        <li>Kink:</li>
        <li>SW:</li>
        <li>BIPOC:</li>
        <li>Other Communities:</li>
    </ul>

    <!-- <p class="">Queer:
        <br>
        Trans:
        <br>
        Non-Monogamy:
        <br>
        Kink:
        <br>
        SW:
        <br>
        BIPOC:
        <br>
        Other Communities:
    </p> -->
    
    <p>Institution/Private Practice:</p>
    <p>Offers Teletherapy:</p>
    <p>States they practice in:</p>
    <p>Location:</p>
    <p>Accessibility Information:</p>
    <p>Offers Couple's Therapy:</p>
    <p>Serves Youth:</p>
    <p>Website:</p>
    <p>Accespts Insurance:</p>
    <p>Accepts MassHealth:</p>
    <p>Insurances Accepted:</p>
    <p>Average Cost/Session without Insurance:</p>
    <p>Comments and Additional Info:</p>
    <p>Moderator Notes:</p>




</div>




