/* Cross Site Stylings */

    /* set universal colors */
:root {
    --tealblue: #063C5E; 
    --lightblue: rgb(205, 218, 218);
    --brightteal: teal;
    --darkpurple: rgb(36, 8, 32);
    --darkerpurple: rgb(111, 37, 148);
    --seagreen: lightseagreen;
    --headercolor: rgb(45, 11, 61);
    --headertextcolor: lightseagreen;
    --heartcolor: #5be3e3;
}

body {

    background-color: white;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* make dark mode */
/* body {
       background-color: rgb(54, 59, 59);
    color: rgb(184, 167, 187); 
} */

/* nice gradient for darkmode: background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
 */

h1 {
    margin: 5vw;
}
    /* style links */

/* Header Stylings */

header {
    /* background-color: var(--headercolor); */
    /* width: 100%; */
    /* background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);  */
    /* background-image: linear-gradient(to right,  #06c5d5, #cee1a6, #fd970a);  */

    color: white;
}

header img {
    /* width: 50px; */
    height: 2.3em;
    /* margin-top: 5vw;
    margin-left: 5vw; */
}

header h2 {
    color: var(--headertextcolor);
    /* color: var(--tealblue); */
    /* display: inline-flex; */
    margin-left: 10px;
    /* margin-bottom: 0px;
    margin-top: 0px; */
    /* padding-bottom: 30px; */

}

.divA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;

}

.little-divA {
    display: flex;
    align-items: center;
}

#show-me-hamburger {
    color: var(--headertextcolor);
}

.link-menu {
    display: none;
}

.link-menu.open {
    /* background-color: var(--tealblue); */
    background-color: var(--headercolor);
    display: block;
    position: absolute;
    margin-left: 65vw;
}

.headlink {
    display: block;
    text-align: center;
    padding: 7% 7% 7% 7%; 
    border-top: 1px solid white;
    text-decoration: none;
    color: var(--brightteal)
}

.headlink:hover {
    color: var(--brightteal);
    font-weight: bold;
}

.headlink:active {
    color: white;
    background-color: var(--brightteal)
}




/* FOOTER STYLINGS */

footer {
    width: 100%;
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);    
    padding-bottom: 1em;
    
}

.extend-footer {
    display: none;
}

.extend-footer.open {
    display: block;
}

/* #little-caret-up {
    margin-top: 20px;
    color: black;
    -webkit-text-fill-color: var(--heartcolor); 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
} */




    #caret-down {
        width: 25px;
        margin: 20px 0 10px 0;
    }

/* irrelevant until JS fixed */
        #caret-up {
            /* width: 25px;
            margin: 20px 0 10px 0; */
            display: none;
        }

        /* #caret-up.open {
            width: 25px;
            margin: 20px 0 10px 0;
            display: block;
        } */

        /* not working */
        /* 
        #caret-down.hide {
            display: none;
        } */

.heart {
    width: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.testimonial {
    margin: 2em 5vw;
}

.footer-map {
    margin: 5vw;
    display: flex;
    flex-direction: column;
}

.footer-map p{
    margin: 1em 0 .5em 0;
    font-size: 1.3em;

    /* font-weight:bold */
}

.footlink {
    text-decoration: none;
    font-size: 1.2em;
    margin: .2em 0;
    color: var(--headercolor);
}

.footlink:active {
    color: var(--brightteal);
    /* background-color: var(--brightteal) */
}

#darkmode-button{
    background-color: rgb(71, 88, 88);
    /* background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);      */
    border: 1px solid rgb(15, 29, 24);
    border-radius: 17px;
    width: 150px;
    font-size: 1.2em;
    padding: 4px 4px 5px 4px;
    margin: 5vw;
}

#addcats-button{
    /* background-color: var(--heartcolor); */
    /* background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);      */
    border: 1px solid rgb(15, 29, 24);
    border-radius: 17px;
    width: 150px;
    font-size: 1.2em;
    padding: 4px 4px 5px 4px;
    margin: 5vw;
}

.copyright {
    margin: 2em 5vw;
}

/* INDEX Landing Page Stylings */

.landing-div {
    background-image: url("robert-katzki-rainbow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:rgb(35, 65, 65); */
    /* background-position: center; */
    /* width: 100vw; */
    height: 50vh;
    /* display: flex;
    align-items: flex-end; */
}

.landing-div h1 {
    color: rgb(245, 241, 241);
    margin: 0px;
    padding: 5vw;
    /* align this text somehow that makes sense */
}

#welcome-div {
    margin: 5vw;
}

#stuff-to-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.do-stuff img {
    width: 200px;
}

.color-divider-div {
    background-color: var(--seagreen);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8vh 0vh
}

.do-stuff a{
    text-decoration: none;
    color: var(--brightteal)
}

.do-stuff {
    margin-bottom: 10vh;
    width: 275px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .do-stuff h4 {
    display: flex;
    justify-content: center;
} */

#magnify-talk-index {
    width: 225px;
    padding-right: 10px;
    /* margin-top: 30px; */
}

#plant-index {
    width: 175px;
}



/* How to Find a Therapist Page */

.how-to-landing {
    width: 100%;
    /* height: 200px; */
    background-color: lightseagreen;
}

.how-to-landing h1 {
    margin: 0vw;
    padding: 5vw 5vw 0 5vw;
}

.how-to-landing h2 {
    margin: 0vw;
    padding: 5vw;
    font-size: 1.2em;
}

.how-to-text {
    padding: 5vw 5vw 0 5vw;
}

.how-to-text li {
    margin: .8em 0 0 0;
}



.pro-tips {
    width: 100%;
    background-color: lightseagreen;
    padding: 5vw;
    margin-top: 5vw;
}

.example {
    background-color: mediumaquamarine;
    /* width: 75%; */
    padding: 5vw;
    background-color: mediumaquamarine;
    width: 75%;
    margin: 5wv;
}

.example p {
    margin: 0px;
}

.pro-tips li, .pro-tips p{
    margin: .8em 10vw 0 0;
}

#note {
    padding-bottom: 10vh;
}

    /* Do something with ol maybe not numbers */
    /* Style li with some space between */



/* ADD TO THE LIST PAGE MOBILE STYLINGS */

.spacer1 {
    height: 10vh;
}


.spacer2 {
    height: 5vh;
}

.button-align {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.who-button, input[type=submit] {
    /* background-color: lightseagreen; */
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);     
    border: 1px solid mediumaquamarine;
    border-radius: 17px;
    width: 150px;
    font-size: 1.2em;
    padding: 4px;
    margin: 5vw 0;
    
}

.who-button:focus, input[type=submit]:hover {
    border: 3px solid black;
    font-weight: bold;
}

#client-display-button {
}

#provider-display-button:focus {
    width: 160px;
}

.add-provider-form input[type=submit] {
    display: none;
}


    /* fix this later */
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 300px; */
    color: rgb(9, 61, 85);
    text-align: center;
    border-radius: 6px;
    padding: 11px 0 0 4px;
    position: absolute;
    z-index: 1;
    font-weight: normal
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }





/* this is the entire form, both versions */
.add-provider-form {
    margin: 5vw;
}  

/* this is the entire client form version - UNCOMMENT */
.client-add-provider {
    display: none;
}


/* this is the entire provider form version*/
.provider-add-provider {
    display: none;
}







.client-rating{
    /* display:none; */
    margin: 5em 0em;
}

.radio-div, .radio-label-div {
    display: flex;
    justify-content: space-between;
}

.radio-label-div {
    margin-left: .4em;
    margin-right: .22em;
    margin-top: 1em;
}

.client-rating p {
    font-size: .7em;
    width: 28vw;
}

.rating-explain {
    display: flex;
    justify-content: space-between;
    
}

/* for radio button alignment */
.indent-me {
    margin: 0vw 6vw;
}

input[type='radio'] { 
    transform: scale(2.5); 
}
/* maybe change radio select color later */
input[type='radio']:checked:after { 
        width: 12px;
        height: 12px;
        border-radius: 12px;
        top: -2px;
        left: -1px;
        position: relative;
        /* background-color: #ffa500; */
        background-image: linear-gradient(to right,  #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);    
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white; 
 
}


.radio-yn-div, .radio-yn-label-div {
    display: flex;
    justify-content: space-around;
}

.radio-yn-label-div {
    margin-top: 1em;
}

.question {
    margin: 5em 0em;
}

.radio-yn-div, .radio-div {
    margin-top: 2em;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
  }

input[type=checkbox] {
    /* width: 5em; */
    /* padding: 5em; */
    transform: scale(2);
    margin: 1em;
}


.text1 {
    font-weight: 600;
}

.question textarea, .client-rating textarea {
    margin-top: 20px;
}


#poly-rating, #queer-rating, #trans-rating, #kink-rating, #sw-rating, #bipoc-rating, #additional-rating {
    display: none;
}

#thank-you-add {
    display: none;
}


/* UPDATE PAGE STYLINGS */

.update-form {
    margin: 5vw;
}








/* RESULTS */

.results-box {
    margin: 5vw;
    padding: 5vw;
    border: 5px lavender solid;
}

.name-div {
    background-color: #8b73dd;
    /* width: 100%; */
    height: 3em;
    display: flex;
    padding-left: 1em;
}



/* MOAR RESOURCES PAGE */

.resources-for {
    margin: 5vw;
}

.resource-square{
    /* background-color: mediumslateblue; */
    border: mediumslateblue 5px solid;
    margin: 5vw;
    padding: 5vw;
}

.sw-resource, .trans-resource, .kink-resource, .poly-resource, .bipoc-resource {
    display: none;
}

.show-me-resource {
    display: block;
}

.resource-square a{
    text-decoration: none;
    /* color: aliceblue; */
    color: black;
    font-size: 1.5em;
    margin-top: .2em;
 
}

.resource-square p {
    font-size: 1.2em;
    margin-bottom: .1em;
}

#show-resources-form-button {
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);     
    border: 1px solid mediumaquamarine;
    border-radius: 17px;
    /* width: 150px; */
    font-size: 1.2em;
    padding: 4px 5px;
    margin: 3em 0 4em 0;
}

#add-resource-form {
    display: none;
}

.color-divider-div2 {
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3);  
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 0 0;
}

#add-resource-container {
    margin: 5em 5vw 7em 5vw;
}

.resource-question label, .resource-question input, .resource-question textarea {
    margin: 1em 0 2em 0
}

.resource-question label {
    font-weight: bold;
}

#thank-you-resource {
    display: none;
}


/* FIND A THERAPIST pAGE */

.what-do, .search-explain, .search-footer, .search-the-list {
    margin: 5vw;
}

.what-do a{
    text-decoration: none;
    color: var(--brightteal)
}

.what-do p{
    /* margin-top: 0; */
    margin: 0 6vw;
}

.what-do div {
    margin-top: 10vh;
}

.banner {
    height: 11em;
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}

.banner h2 {
    margin: 10vw;
    /* color: white; */
}

#find-magnify-heart-img {
    width: 150px;
}

.search-question {
    margin: 3em 0em;
}

#provider-state {
    min-width: 275px;
    height: 35px;
}

optgroup {
    font-size: 1em;
}


.community-ratings-select {
    margin-left: 5vw;
}

.community-ratings-select label {
    display: block;
    margin-bottom: .2em;
}

#provider-insurance-select, .friendly-select {
    max-width: 90vw;
    height: 3em;
    font-size: 1em;
}






/* CONTACT PAGE STYLINGS */

.contact-form {
    /* background-color: white; */
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.contact-form-div {
    margin-top: 7vh;
}

.contact-form-content {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 88%;
    color: var(--darkerpurple);
}

.form-input-text {
    border: 0px;
    border-bottom: 2px solid  darkorchid;
    padding-top: 3vh;
}

.contact-form-div textarea {
    /* do not relocate this */
    padding: 0px;
}


.contact-submit-button {
    background-image: linear-gradient(to right,#9077e4, #8b73dd, #758edd, #50a3e0, #3bb0e3, #26c0e3, #2fdcf3); 
    border: 0px;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 75%;
    margin-top: 3vh;
}


/* ABOUT PAGE STYLINGS */

.faq-div {
    margin: 5vw;
}

.faq-div a{
    text-decoration: none;
}

.faq-div h4 {
    margin-top: 3em;
}

.about-landing {
    background-color: #fac3ef;
    display: flex;
    align-items: flex-end;

}

.about-landing img {
    width: 100%;
}

.donate a{
    margin-bottom: .5em;
}

/* LOGIN  */

.login-div {
    margin: 5vw;
    max-width: 30em;
    text-align: left;
}






/* TABLET STYLINGS */
/* 481-767px */

@media screen and (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-color: aqua;
    } */


}


@media screen and (min-width: 685px) {

/* INDEX PAGE STYLINGS - TABLET - non-standard breakpoint  */
    #stuff-to-do-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 5vw;
    }

    #magnify-talk-index {
        width: 175px;
        padding-right: 25px;
        margin-top: 30px;
    }

    #list-index {
        width: 150px;
    }

    #plant-index {
        width: 120px;
    }

    .do-stuff {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
















/* MONITOR STYLINGS */

/* 768-1280px */
/* non standard for index at 1250? */

@media screen and (min-width: 768px) {

/* HEADER */
    #hamburger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .link-menu {
        display: flex;
        align-items: center;
        margin-right: 3vw;
    }

    .headlink {
        padding: .5em; 
        border: none;
    }


/* FOOTER */
    footer p, #darkmode-button {
        margin: 2vw 5vw;
    }


/* INDEX PAGE STYLINGS */
    .color-divider-div {
        height: 150px;
    }

    .color-divider-div h3 {
        font-size: 1.5em;
    }

    #stuff-to-do-container h2 {
        font-size: 1.2em;
    }

/* ABOUT PAGE STYLINGS */

    .about-landing img {
        width: 70%;
        margin-left: 12vw;
    }

/* ADD TO THE LIST PAGE - media*/



.button-align {
    width: 375px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.button-space {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




}


@media screen and (min-width: 1100px) {
    .wider-margin {
        margin-left: ;
        margin-right: ;
    }


}


/* APPLY TO ALL PAGES */

.center-this-top {
    display: flex;
    justify-content: center;
}

.center-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-me2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-me3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}