<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 


    <div class="about-landing ">
        <img src="images/unicorn3.JPG">
    </div>
    


    

    <div class="max-width-container">
        <div class="faq-div max-width">

            <h1>FAQ</h1>

            <h4>
                Who are you and how do I get in touch?
            </h4>
            <p>
                This website and resources are maintained by me, Izebel. Contact me <a href="/contact">here</a>.
            </p>
            <h4>
                Where did the list come from?
            </h4>
            <p>
                The information compiled on the list is contributed by members of Gender and Sexual Minority Communities from all over the Boston area, and many therapists. The prospect of seeking mental health care for the first time was for me, completely terrifying. I cried lot. I didn't want to deal with discrimination or judgement on top of that. So I asked friends and members of some local online communities to anonymously share recommendations through on a google form. The list exists because of people - like you! - who are willing to share info with the community.
            </p>

            <h4>
                What's the disclaimer?
            </h4>
            <p>
                This project does not verify the credentials, qualifications, or abilities of any therapist or psychiatrist in the database. It is a home for information provided by other users. Please do your own research to ensure a provider is a good fit for you.
            </p>


            <h4>
                Is the information out of date?
            </h4>
            <p>
                Original ratings are provided with the date for the sake of transparency. Professionals can and do learn and grow over time. I go through each entry in the database about once a year and attempt to verify as much information as possible with each provider - which is the same frequency of as other major free resources. In some cases, I update the infomration more frequently, especiially if somoene brings it to my attention. You can help by contacting me if you notice infomration is out of date.
            </p>

            <h4>
                Why don't you have info on _________?
            </h4>
            <p>
                The information collected has changed over time as I learned and understood more about community needs, and my own. If you have a suggestion, please <a href="/contact">contact me.</a>
            </p>
            <h4>
                Can you help me find a therapist?
            </h4>
            <p>
                Check out the <a href="/how-to">How to Find a Therapist</a> page for a step by step write up of how to go about a search. You can also check out the <a href="/resources">Resources</a> page.
            </p>
            <h4>
                I'm a therapist mentioned on The List and something needs to be changed or updated.
            </h4>
            <p>
                Please email me and I will update your info.
            </p>

            <h4>
                How can I help support this project?
            </h4>
            <p>
                Contribute information. Send me feedback. Help me on my coding journey. Make a donation.
            </p>    

            <div class="donate center-me2">

                <a href="https://paypal.me/izebel?locale.x=en_US">Paypal Me</a>
            
                <a href="http://venmo.com/code?user_id=2362618148814848426">Venmo Me</a>   
                    
            </div>
                

            
            <h4>
                Why are the original google sheet and the grid view rainbows?
            </h4>
            <p>
                Because I like rainbows.
            </p>

            <h4>Acknowledgements</h4>
            <p>
            This website is created by me, Izebel, with gratitude to my community. 
            </p>
            <p>
            Thank you to...
            </p>
            <ul id="thank-you-ul">
                <li>Mika B. who coded the original "Find a Therapist" search feature in R and took this project to the next level of functionality.     
                </li>
                <li>
                Hacking//Husting, who taught me how the internet works and set me on the path of integrating social justice and tech.                
                </li>
                <li>
                The instructors at CodeSquad for starting me on my coding journey, and especially to Kiki and Melissa for many hours of patient instruction and support. 
                </li>
                <li>
                Friends like Jesse for finding the bug in the email integration, and Oriana for UI ideas, as well as many others who have supported my coding journey.
                </li>
            </ul>    
                <p>
                Thank you to the many contributors who have provided the information shared here to guide friends and strangers. The minutes you take to add info have literally saved lives. 
                </p>

            

        </div>
    </div>
    <%- include('../partials/footer') -%> 