<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 



<h1>Update a Provider's Information</h1>

<div class=center-me>
    <div class="">

        <table class="admin-table">
            <thead>
                <tr>
                <th>Therapist Name</th>
              </tr>
            </thead>

            <tr>
                <td>
                <a href="/admin/update/id-ejs-here">

                Sample Therapist Name, LMHC
                <!-- ejs here -->
                </a>
                </td>
            </tr>

        </table>

    </div>
</div>



<%- include('../partials/footer') -%> 