<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

<!-- <script src="/scripts/contact-script.js" defer></script> -->

    <div class="center-me">
        <div class="contact-form-div">

            <h1 class="contact-form-content">Contact</h1>

            <form class="forms-all contact-form" id="contact-form" method="POST" action="/contact" enctype = "multipart/form-data">
                <label for="contact_form_name" class="contact-form-content form-label">Your name:</label>
                <input type="text" name="contact_form_name" class="contact-form-content form-input-text" required>
                <br><br>
                <label for="contact_form_email" class="contact-form-content form-label">Your email:</label>
                <input type="email" name="contact_form_email" class="contact-form-content form-input-text" required>
                <br><br>
                <label for="contact_form_message" class="contact-form-content form-label">Message:</label>
                <textarea name="contact_form_message" class="contact-form-content form-input-text" rows="6" required></textarea>
                <br><br>

                <div class="center-me">
                    <p><i>
                        If submit times out, the google mail captcha has been triggered. I'll fix this soon. If you are trying to utilize this function, kindly contact me so I know the "critical security alerts" I'm getting are someone playing with the site and not someone attempting to hack my gmail. 
                    </i></p>
                </div>
                <div class="center-me2">
                    <button type="submit" value="submit" class="contact-form-content contact-submit-button">Send Message</button> 
                
                </div>
            </form>

        </div>
    </div>

    <div class="spacer2"></div>

    <%- include('../partials/footer') -%> 