<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

    <div class="landing-div">
        <div class="max-width-container">
            <div class="max-width">  
                <h1>Boston-Area Mental Health Resources for the <br class="heading-break-index">Queer, Trans, Polyamorous, Kink, and Sex Worker Communities</h1>
            </div>
        </div>
    </div>

    <div class="max-width-container">
        <div id="welcome-div" class="max-width">
            <p>
                
                
                Friendlytherapy.info is a community project intended to empower Gender and Sexual Minorities to make better informed decisions about our mental health care and mitigate some of the difficulties in accessing providers who are knowledgeable about our identities and communities.
                <br><br>
                In an earlier incarnation, this project was known as the Boston-Area Queer/Trans/Poly/Kink/SW-Friendly Therapist List.
            </p>
            <p>
                The project exists because of people like you. 
                <br><br>
                <!-- add hyperlinks? -->
                Entries are supplied by the community, including clients and providers. Clients are invited to rate mental health care providers they have worked with on their competency in working with communities they are a member of. Your contributions are deeply appreciated.
                <br><br>
                There are no fees to use or list on friendlytherapy.info, nor any advertising. The project exists solely to serve the community.
            </p>
        </div>
    </div>
    <div class="color-divider-div">
        <h3>What you can do here...</h3>
    </div>

    <div class="max-width-container"> 

        <div id="stuff-to-do-container" class="max-width">

            <div class="do-stuff">
                <a href="/find-a-provider">
                    <h2>Search for a Mental Health Provider</h2>
                    <img src="images/magnify-talk-no-bg.png" id="magnify-talk-index">
                    
                </a>
            </div>

            <div class="do-stuff">
                <a href="/add-a-provider">
                    <h2>Add a Provider to the Community List</h2>
                    <img src="images/list.jpg" id="list-index">
                
                </a>
            </div>

            <div class="do-stuff">
                
                
                <a href="/resources">
                    <h2>Check out Some Resources</h2> 
                    <img src="images/plant.jpg" id="plant-index">
                
                </a>
            </div>     
        </div>
    </div>

    <%- include('../partials/footer') -%> 