<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 



<div class="landing-div">
    <div class="max-width-container">
        <div class="max-width">  
            <div id="landing-text">
                <h1>Mental Health Resources for 
                Queer, Trans, Polyamorous, Kink, and Sex Worker Communities</h1>
            </div>

        </div>
    </div>
</div>




<!-- <div>

</div> -->


<!-- <div class="spacer1"></div> -->

<div id="hey-there-container">
    <div id="hey-there">
        <h4>Hey there!</h4>
        <h2>Welcome to the new and improved friendlytherapy.info</h2>
        <h4>There's a shiny new search feature, a new system for adding providers - including psychiatrists! - and better ways to check out and add resources. 
        
        And we're now set up to support adding and searching for providers outside of Massachusetts. </h4>
        <h4>
        The project continues to exist because of you, and your <a href="/contact">feedback</a> is welcome.</h4>
    </div>
</div> 

<div class="spacer1"></div>

<div class="max-width-container"> 

    <div id="stuff-to-do-container" class="max-width">

        <div class="do-stuff">
            <a href="/search-add/find-a-therapist-search">
                <img src="images/magnify-talk2.png" id="magnify-talk-index">
                <h2>Search for a Mental Health Provider</h2> 
            </a>
        </div>

        <div class="do-stuff">
            <a href="/search-add/add-a-provider">
                <img src="images/list.jpg" id="list-index">
                <h2>Add a Provider to the Community List</h2>
            </a>
        </div>

        <div class="do-stuff">
            
            
            <a href="/resources">
                <img src="images/plant-pot.png" id="plant-index">
                <h2>Check out Some Resources</h2> 
            </a>
        </div>     
    </div>
</div>

<div id="built-by-container">

    <div class="" id="built-by-div">
        <h2>Built by the community, for the community.</h2>
    </div>

</div>



<div class="max-width-container">
    <div id="welcome-div" class="max-width">
        <p>  
            Friendlytherapy.info is a community project empowering Gender, Sexual and Romantic Minorities to make better informed decisions about our mental health care, and mitigate the difficulties in accessing providers who are knowledgeable about our identities and communities.
        </p>
        <p>
            In an earlier incarnation, this project was known as the Boston-Area Queer/Trans/Poly/Kink/SW-Friendly Therapist List.
        </p>
        <p>
            The project exists because of people like you. 
        </p> 
        <p>
            Entries are supplied by the community, including clients and providers. Clients are invited to rate mental health care providers they have worked with on their competency in working with communities they are a member of. Your contributions are deeply appreciated.
        </p>
        <p>
            There are no fees to use or list on friendlytherapy.info, nor any advertising. The project exists solely to serve the community.
        </p>

        <!-- ABOUT LINK -->
        <div class="center-me">
            <a href="/about">
              <button id="learn-more-button">Learn More</button>  
            </a>
            
        </div>

        
    </div>
</div>

<div class="spacer2-mobile"></div>



    <%- include('../partials/footer') -%> 