<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 



    <div class="general-landing">
        <div class="max-width-container">
        <h1 class="max-width">Login to Edit the Database of Providers</h1>   
        </div>
    </div>

 <div class="spacer2-mobile"></div>

    <!-- <h1>Login to Edit the Database</h1> -->

    <!-- <div class="spacer2"></div> -->
    <div class=center-me>
        <div class="login-div">

            <label for="login" class="text1">Login ID:</label>
            <br>
            <input type="text" id=login name="login">

            <div class="spacer2"></div>

            <label for="password" class="text1">Password:</label>
            <br>
            <input type="text" id=password name="login">
        </div>
    </div>
    <div class="spacer1"></div>

    <!-- </div> -->


    <%- include('../partials/footer') -%> 