<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

 <div class="spacer1"></div>

<div class=center-me>
    <img src="/images/ah-ah-ah.gif" id="">
</div>


<div class="spacer1"></div>



<%- include('../partials/footer') -%> 