<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

 <div class="spacer1"></div>

<div class=center-me>
    <img src="/images/ah-ah-ah.gif" id="">
</div>

<div class="spacer2"></div>

<div class="center-me">
    <a class="footlink" href="/admin/login">
        <button value="login" class="login-redirect-button">Login</button>
    </a>
</div>

<div class="spacer1"></div>



<%- include('../partials/footer') -%> 