<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 



    <div class="general-landing">
        <div class="max-width-container">
        <h1 class="max-width">Resources for Finding Therapists<br class="heading-break-index"> and Community Competent <br class="heading-break-index">Professionals</h1>
        </div>
    </div>



    <!-- more space here? -->

    <div class="max-width-container">

        <div class="resources-for max-width">
                <label class="text1">Show me resources for:</label><br><br>

                <input type="checkbox" id="resources-for-SW" name="resources-for-SW" value="resources-for-SW" onclick="displaySWresource()">
                <label for="resources-for-SW" class="text1"> Sex Workers</label><br>

                <input type="checkbox" id="resources-for-trans" name="resources-for-trans" value="resources-for-trans" onclick="displayTransResource()">
                <label for="resources-for-trans" class="text1"> Trans Folks</label><br>

                <input type="checkbox" id="resources-for-bipoc" name="resources-for-bipoc" value="resources-for-bipoc" onclick="displayBIPOCResource()">
                <label for="resources-for-bipoc" class="text1"> BIPOC</label><br>

                <input type="checkbox" id="resources-for-kinky" name="resources-for-kinky" value="resources-for-kinky" onclick="displayKinkResource()">
                <label for="resources-for-kinky" class="text1"> Kinky People</label><br>

                <input type="checkbox" id="resources-for-poly" name="resources-for-poly" value="resources-for-poly" onclick="displayPolyResource()">
                <label for="resources-for-poly" class="text1"> Nonmono People</label><br>

                <input type="checkbox" id="resources-all" name="resources-all" value="resources-all" onclick="displayAllResource()">
                <label for="resources-all" class="text1"> Show me all resources</label><br>
        </div>
    </div>

    <div class="max-width-container" id="all-resource-container">
        <div class="max-width">
            <div class="resource-square general-resource">
            <a href="how-to.html">How to Find a Therapist</a>
                <p>A step-by-step guide to your therapist search by Izebel.</p>
            </div>

            <div class="resource-square general-resource">
                <a href="https://www.psychologytoday.com/us/therapists">  
                    Psychology Today Therapist Finder
                </a>        
                <p>Apply filters and browse a catalog of therapists in your area.</p>

            </div>

            <div class="resource-square sw-resource">
                <a href="https://pineapplesupport.org/">
                    Pineapple Support
                </a>        
                <p>Free or low-cost therapy and volunteer emotional support for those working in the adult entertainment industry. Services are sex worker friendly, LGBTQ and kink-aware.</p>
                <img src="">
                <!-- red umbrella icon? -->
            </div>

            <div class="resource-square sw-resource">
                <a href="https://www.mnsexualhealth.org/post/choosing-a-sex-worker-affirmative-therapist">
                    Choosing​ ​a​ ​Sex​ ​Worker-Affirmative​ ​Therapist
                </a>        
                <p>A guide by Katie Bloomquist, MS, MA, LAMFT</p>
                <img src="">
                <!-- red umbrella icon -->
            </div>

            <div class="resource-square poly-resource kink-resource">
                <a href=https://www.kapprofessionals.org/business-directory-2>
                    Kink & Poly Aware Professionals Directory
                </a>       
                <p>A service offered by  NCSF dedicated to providing the community with a listing of psychotherapeutic, medical, legal and other professionals self-identified as knowledgeable about and sensitive to diverse expressions of sexuality.</p>
                <img src="">
                <img src="">
                <!-- heart icon -->
                <!-- SSC icon -->
            </div>



            <div class="resource-square general-resource">
                <a href="https://www.aasect.org/referral-directory">
                    American Association of Sexuality Educators Counselors and Therapists
                </a>
                <p>Search for a sexuality educator, counselor or therapist in your state.</p>

            </div>

            <div class="resource-square poly-resource">
                <a href=http://polyfriendly.org/index.php>Polyamory-Friendly Professionals</a>        
                <p>A national directory of Polyamory-aware professionals, including mental health providers, doctors, lawyers, body workers, religious providers, etc.</p>
                <img src="">
                <!-- heart icon -->
            </div>

            <div class="resource-square trans-resource">
                <a href=https://translifeline.org>Trans Lifeline</a>        
                <p>A trans-led organization that connects trans people to the community, support, and resources they need to survive and thrive. Peer Support Hotline: 877-565-8860.</p>
                <img src="">
                <!-- transflag icon -->
            </div>

            <div class="resource-square trans-resource kink-resource poly-resource">
                <a href="http://tnlr.org">
                    The Network La Red
                </a>        
                <p>A Massachusetts survivor-led, social justice organization serving survivors of partner abuse in lesbian, gay, bisexual, transgender, SM, polyamorous, and queer communities. They offer free support groups, individual supports and resources, and a 24 hotline: 800-832-1901</p>
                <img src="">
                <!-- icon -->
            </div>

            <div class="resource-square general-resource trans-resource bipoc-resource">
                <a href="https://www.fearlessfemme100.com/resources">
                    Fearless Femme 100 Resource Directory
                </a>  
                <p>Resources for finding mental health care as well as community and crisis support for people who are Queer, Trans, Black, Latinx, Muslim, or members of other marginalized communities. </p>
            </div>

            <div class="resource-square trans-resource bipoc-resource">
                <a href=https://www.nqttcn.com/>
                    National Queer & Trans Therapists of Color Network
                </a>        
                <p>A healing justice organization committed to transforming mental health and improving access for queer and trans people of color (QTPoC)</p>
                <img src="">
                <!-- transflag icon -->
            </div>

            <div class="resource-square general-resource">
                <a href="https://www.unmute.today/"> Unmute</a>
                <p>A free, volunteer-run service connecting clients with therapists.</p>
            </div>

            <div class="resource-square general-resource">
                <a href="https://docs.google.com/spreadsheets/d/1FZPMSabP0Vz9sum48GynbXIh7CJl38_myWJhoAkqRBk/edit?usp=sharing"> Covid-19 Virtual Support List</a>
                <p>An International list of life coaches and mental health professionals offering free or discounted remote services during the pandemic.</p>
            </div>
        </div>
    </div>
<!-- add aida manduly -->

    <div class=center-me>
      <button onclick="displayAddResourceForm()" id="show-resources-form-button">Suggest a Resource</button>  
    </div>
    

    <form id="add-resource-form" class="">

            <div class="color-divider-div2">
               <h3>Suggest a Resource</h3> 
            </div>

        <div id=add-resource-container>


            

            <div class="resource-question">
                <label>Name of resource:</label>
                <input type="text" name="" value="">
            </div>

            <div class="resource-question">
                <label>Link:</label>
                <input type="text" name="" value="">
            </div>
            
            <div class="resource-question">
                <label>Any info you want to share:</label>
                <textarea id="" class="center-me" name="additional-rating-info" rows="4" cols="">
                </textarea>

            </div>

            <div class="center-me">
                <input type="submit" onclick="displayThankYouResource()">
            </div>

            <p id="thank-you-resource">
                <em>Thank you for contributing! Your resourse suggestion will be reviewed and added in a few days! </em>
            </p>


        </div>

     
    </form>



    <%- include('../partials/footer') -%> 