<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 


<div class="general-landing">
    <div class="max-width-container">
        <h1 class="max-width">Search Results</h1>   
    </div>
</div>


<!-- display what user checked off -->


<div class="max-width-container">
    <div class="result-explain">
        <p>        
            Entries in the database are provided by members of the community, as well as providers who have submitted their information.
            <br><br>
            Clients may anonymously rate a provider's competency in a given community on a 0 - 3 scale: 
            <br><br>
            0 = completely unfamiliar   
            <br>
            3 = super comfortable and familiar
            <br><br>
            Providers are not permitted to rate their own familiarity a given community using the rating scale, but may describe their level of competence in the comments section.   
        </p>

    </div>
</div>




<div class="max-width-container-modify">
    <!-- <div class="search-explain result-explain max-width"> -->


        <!-- make sidebar? -->
    <!-- </div> -->
    

           
    <div class="max-width-container-modify">
        <div class="max-width">

    <% providers.forEach(provider=> { %>

        <%- include('../partials/single-search-result', {provider : provider}) %> 

    <% }) %>

        </div>
    </div>


    <!-- <div class="spacer3"></div> -->


    <div class="max-width-container">
        <div class="result-explain">
            <p>If you don't see the perfect therapist or psychiatrist for you above, don't give up! That doesn't mean that there isn't a great provider out there for you. <a href="/search-add/find-a-therapist-search">Click here</a> and try modifying your search a few times. </p>
              
        </div>
    </div>



    <div class="center-me">

        <a href="/search-add/find-a-therapist-search"><button class="" id="search-again-button">Search Again</button></a>

    </div>
    

</div>

<!-- <div class="spacer3"></div> -->

<div class="max-width-container">
    <div id="result-footnote" >
        <p>
            <!-- The moderator does not assume responsibility for community submitted content. 
            <br><br> -->
            To give feedback on this resource, or to submit updates, please <a href="/contact">contact Izebel</a>.
            <!-- link -->
        </p>
    </div>
</div>




<%- include('../partials/footer') -%> 