<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 


 <div class="spacer1"></div>

<div class="center-me">
    <img src="/images/message-cat1.gif" id="message-cat" alt="gif of a very cute cat collecting the mail and carrying it off">
</div>

<div class="spacer1"></div>

<div class="center-me">
    <p>Thanks!</p>
</div>

<div class="center-me">
    <p class="simple-margin-5">Your message was sent to the admin!</p>
</div>

<div class="spacer4"></div>

<!-- <div class="center-me"> -->
    <!-- <a href="/index"> this does not work-->
    <!-- <a href="/"></a>
        <button class="back-to-button">Back to Home</button>
    </a>
</div> -->


<div class="spacer1"></div>



<%- include('../partials/footer') -%> 