<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 


 <div class="spacer1"></div>

<div class=center-me>
    <img src="/images/thankyou1.gif" id="thankyou1" alt="pic of a very cute cat with her paws together saying thank you">
</div>

<div class=center-me>
    <a href="/search-add/add-a-provider">
        <button id="add-another-button">Add Another Provider</button>
    </a>
</div>

<!-- <div class=center-me>
    <a href="/admin">
        <button id="update-another-button">Update Another Provider</button>
    </a>
</div> -->


<div class="spacer1"></div>



<%- include('../partials/footer') -%> 