<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 



    <!-- <div class="general-landing">
        <div class="max-width-container">
        <h1 class="max-width">Header Text</h1>   
        </div>
    </div> -->

 <!-- <div class="spacer2-mobile"></div> -->

 <div class="spacer1"></div>

<div class=center-me>
    <img src="/images/thankyou1.gif" id="thankyou1">
</div>

<div class=center-me>
    <a href="/search-add/add-a-provider">
        <button id="add-another-button">Add Another Provider</button>
    </a>
</div>


<div class="spacer1"></div>



<%- include('../partials/footer') -%> 