<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 


 <div class="spacer1"></div>

<div class="center-me">
    <!-- <img src="/images/message-cat1.gif" id="message-cat" alt="gif of a very cute cat collecting the mail and carrying it off"> -->
    <img src="/images/thankyou2.gif" id="cool-cats" alt="gif of some cats with sunglasses saying thanks! you're cool.">
</div>

<div class="spacer1"></div>

<div class="center-me">
    <p>Thanks!</p>
</div>

<div class="center-me">
    <p class="simple-margin-5">Your suggestion was sent to the admin and will be reviewed!</p>
</div>

<div class="spacer4"></div>

<div class="center-me">
    <a href="/resources">
        <button class="back-to-button">Back to Resources</button>
    </a>
</div>


<div class="spacer1"></div>



<%- include('../partials/footer') -%> 