<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

    <div class="general-landing">
        <div class="max-width-container">
        <h1 class="max-width" class="heading-break-index">Update this Provider </h1>   
        </div>
    </div>

    <!-- <h1>Update This Provider</h1> -->

    <form class="update-form">
    

        <div class="question update-question">
            <label for="name-update" class="text1">Provider's name:</label>
            <input type="text" id="name-update" name="name-update">
        </div>

        <div class="question update-question">
            <label for="practice-update" class="text1">Institution / Private Practice:</label>
            <input type="text" id="practice-update" name="practice-update">
        </div>

        <div class="question update-question">
            <label for="provider-type-update" class="text1">What kind of mental health provider are they?</label>
            <input type="text" id="provider-type-update" name="provider-type-update" placeholder="therapist? psychiatrist?">
        </div>

        <div class="question update-question">
            <p class="text1">Does this provider offer teletherapy?</p>
            <!-- <input type="checkbox" id="teletherapy" name="teletherapy" value="teletherapy">
            <label for="teletherapy">Yes</label><br><br> -->

            <div class="radio-yn-div">
                <input type="radio" id="teletherapy-yes-update" name="teletherapy-update" value="yes">
                <input type="radio" id="teletherapy-no-update" name="teletherapy-update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="teletherapy-yes-update">Yes</label>
                <label for="teletherapy-no-update">No</label>
            </div>
        </div>

        <div class="question update-question">

            <label for="license-state-update" class="text1">Where does this provider practice / Where is this provider licensed?</label>

            <!-- do auto dropdown instead? -->
            <br><br>
            <input type="checkbox" id="ma-check-update" name="ma-check-update" value="ma-check-update">
            <label for="ma-check-update"> Massachusetts</label><br>

            <input type="checkbox" id="ri-check-update" name="ri-check-update" value="ri-check-update">
            <label for="ri-check-update"> Rhode Island</label><br>

            <input type="checkbox" id="nh-check-update" name="nh-check-update" value="nh-check-update">
            <label for="nh-check-update">New Hampshire</label><br>

            <input type="checkbox" id="ct-check-update" name="ct-check-update" value="ct-check-update">
            <label for="ct-check-update">Connecticut</label><br>

            <input type="checkbox" id="ny-check-update" name="ny-check-update" value="ny-check-update">
            <label for="ny-check-update"> New York</label><br>

            <input type="checkbox" id="somewhere-else-check-update" name="somewhere-else-check-update" value="somewhere-else-check-update">
            <label for="somewhere-else-check-update">Somewhere else</label><br><br>

            
            <label for="therapist-location" class="text1">Location/Neighborhood:</label>
            <input type="text" id="therapist-location" name="therapist-location">

        </div>

        <div class="question update-question">
            <label class="text1">Does this therapist provide couples therapy?</label>
            <div class="radio-yn-div">
                <input type="radio" id="couples-yes-update" name="couples-update" value="yes">
                <input type="radio" id="couples-no-update" name="couples-update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="couples-yes-update">Yes</label>
                <label for="couples-no-update">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label class="text1">Does this therapist serve youth? </label>
            <div class="radio-yn-div">
                <input type="radio" id="update-youth-yes" name="youth" value="yes">
                <input type="radio" id="update-youth-no" name="youth" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="update-youth-yes">Yes</label>
                <label for="update-youth-no">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="therapist-website" class="text1">Therapist's website:</label>
            <input type="text" id="update-therapist-website" name="therapist-website">
        </div>

        <div class="question update-question">
            <label for="therapist-contact" class="text1">Therapist's contact info:</label>
            <input type="text" id="update-therapist-contact" name="therapist-contact">
        </div>
        
        
        <div class="question update-question">
            <label class="text1">Does this therapist accept insurance?</label>
            <div class="radio-yn-div">
                <input type="radio" id="update-insurance-yes" name="couples" value="yes">
                <input type="radio" id="update-insurance-no" name="couples" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="update-insurance-yes">Yes</label>
                <label for="update-insurance-no">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="therapist-insurance" class="text1">Which insurance(s) do they accept?</label>
            <textarea id="therapist-insurance" name="therapist-insurance" class="center-me" rows="6" cols="50">
            </textarea>
        </div>


        <div class="question update-question">
            <label class="text1">Accepts Masshealth?</label>
            <div class="radio-yn-div">
                <input type="radio" id="client-masshealth-yes" name="couples" value="yes">
                <input type="radio" id="client-masshealth-no" name="couples" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="client-masshealth-yes">Yes</label>
                <label for="client-masshealth-no">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="therapist-cost" class="text1">Cost per session without insurance:</label>
            <input type="text" id="update-therapist-cost" name="therapist-cost">
        </div>

        <div class="question update-question">
            <label for="therapist-access" class="text1">Accessibility info:</label>
            <textarea id="therapist-access" name="therapist-access" class="center-me" rows="6" cols="50">
            </textarea>
        </div>


        <div class="question update-question">

                <label for="therapist-comments" class="text1">Client Comments:</label>
                <textarea id="therapist-comments" name="therapist-comments" class="center-me" rows="8" cols="50">
                </textarea> 

        </div>

        <div class="question update-question">

            <label for="curator-comments" class="text1">Curator Comments:</label>
            <textarea id="curator-comments" name="curator-comments" class="center-me" rows="8" cols="50">
            </textarea> 

        </div>

        <div class="button-align">
            <input type="submit" value="Submit" id="update-provider-submit" class="add-provider-submit" onclick="">
        </div>


    </form>

    <div class="center-me" id="update-delete-div">

        <form action="/admin/<EJS-id-here>?_method=delete" method="POST">
            <input type="submit" id="update-delete-button" name="delete" value="Delete">
        </form>
     
    </div>

    <div class="spacer1"></div>
        
    <%- include('../partials/footer') -%> 